* {margin: 0; padding: 0;}
a {text-decoration:none; color:black;}
ul{list-style:none;padding-left:0px;}
body {font-family:-apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;}
input {font-family:-apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;}
button{border:0; background-color:transparent;}
button:hover {cursor:pointer;}

#wrap {
    min-width: 1340px;
}

#header {
    background-color: rgba(255, 255, 0, 0.236);
    width: 1280px;
    height: 220px;
    margin: 0 auto;
}

#container {
    background-color: white;
    width: 1280px;
    margin: 5px auto 5px auto;
    display: flex; /* flexbox 활성화 */
    flex-direction: row; /* 가로 방향으로 정렬 */
    justify-content: space-between; /* 왼쪽, 오른쪽 영역의 간격을 자동으로 조정 */
    flex-wrap: wrap; /* 내용이 넘치면 다음 줄로 넘어가도록 설정 */
}

#footer {
    background-color: #f5f6f7;
    margin: 0 auto;
    border-top: 1px solid #ebebeb;
    position: relative;
    margin-top: 55px;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
}

#footer .footer_inner {
    width: 1280px;
    margin:0 auto;
    padding: 30px 8px 80px 8px;
}

/* 메뉴바 */
#header .header_inner .menu_area div {
    display: inline-block;
}
#header .header_inner .menu_left, .menu_right {
    margin-top: 10px;
}
#header .header_inner .menu_right {
    float: right;
}
/* 메뉴바의 메뉴버튼들 */
#header .header_inner .menu_area .menu, .pay, .talk, .alarm, .cart {
    position: relative;
    padding: 4px;
}
/* 메뉴버튼 */ 
#header .header_inner .menu_area .menu .btn_menu::before {
    background-image: url('images/sp_main.b27083b1.png'); 
    background-position: -311px -167.5px;
    background-size: 463px 440px; 
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block; 
    content: ''; 
}
/* 페이버튼 */
#header .header_inner .menu_area .pay .btn_pay::before {
    background-image: url('images/sp_main.b27083b1.png'); 
    background-position: -247.5px -260px;
    background-size: 463px 440px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    display: inline-block; 
    content: ''; 
}
/* 톡버튼 */
#header .header_inner .menu_area .talk .btn_talk::before {
    background-image: url('images/sp_main.b27083b1.png'); 
    background-position: -101.5px -318.5px; 
    background-size: 463px 440px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    display: inline-block; 
    content: '';
}
/* 알람버튼 */
#header .header_inner .menu_area .alarm .btn_alarm::before {
    background-image: url('images/sp_main.b27083b1.png'); 
    background-position: -315.5px -235px; 
    background-size: 463px 440px; 
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    display: inline-block; 
    content: '';
}
/* 카트버튼 */
#header .header_inner .menu_area .cart .btn_cart::before {
    background-image: url('images/sp_main.b27083b1.png'); 
    background-position: -36px -318.5px;
    background-size: 463px 440px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    display: inline-block; 
    content: ''; 
}
/* 검색상자 */
#header .header_inner .search_wrap {
    position: relative;
    margin: 0 auto;
    width: 706px;
    border: 1px solid #03c75a;
    border-radius: 33px;
}
/* 검색상자 커서 올렸을 때 그림자효과 */
#header .header_inner .search_wrap:hover {
    box-shadow: 0 3px 5px rgba(20, 20, 20, 0.094); /* 그림자 설정 */
}

.search_wrap .search {
    display: flex; /* input 크기 딱 맞춰주기 위해 설정 */
    align-items: center; /* 자식요소 정렬 */
    height: 58px; /* 부모요소 높이 설정 */
}

/* 네이버 로고 (첫번째) */
.search_wrap .search .naver_logo_hat {
    position: absolute;
    opacity: 1; /* 초기 상태에서 보이도록 설정 */
    transition: opacity .5s ease-in-out; /* 페이드아웃 효과 */
}

.search_wrap .search .naver_logo_hat img {
    padding: 5px 0 0 10px;
}

/* 네이버 로고 (두번째) */
.search_wrap .search .naver_logo {
    font-family: "Arial Black", sans-serif;
    position: relative;
    padding: 8px 16px 8px 27px;
    display: inline-block;
    font-weight: 900;
    font-size: 34px;
    color: #03c75a;
    opacity: 0; /* 초기 상태에서 숨김 */
    transition: opacity .5s ease-in-out; /* 페이드인 효과 */
}

/* 검색란 placeholder 색상설정 */
.search_wrap .search .search_input::placeholder {
    font-weight: 500;
    color:rgb(202, 202, 189);
    opacity: 0; 
}
/* 검색 input */
.search_wrap .search .search_input {
    width: 70%;
    height: 58px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.4rem;
    line-height: 24px;
    font-weight: 600;
    outline: 0;
}
/* 포커스 시 placeholder 출력 */
.search_wrap .search .search_input:focus::placeholder {
    opacity: 1; 
}
.search_wrap .search .search_menu {
    margin-left: 24px;
    display: flex;              /* Flexbox 활성화 */
    flex-direction: row;        /* 세로 정렬 */
    align-items: center;        /* 버튼 중앙 정렬 */
    gap: 5px;                   /* 버튼 간 간격 */
}

.search_wrap .search .search_menu div {
    display: inline-block;
    margin: 0 4px;
}

/* 검색바 키보드 */
.search_wrap .search .search_menu .search_keyboard .btn_keyboard::before {
    background-image: url('images/sp_main.b27083b1.png'); 
    background-size: 463px 440px;
    background-position: -123px -301px;
    background-repeat: no-repeat;
    width: 24px;
    height: 14px;
    display: inline-block; 
    content: ''; 
}
/* 검색바 화살표 버튼 */
.search_wrap .search .search_menu .search_arrow .btn_arrow::before {
    content: "";
    display: block;
    background-image: url('images/sp_main.b27083b1.png');
    background-size: 463px 440px;
    background-position: -221px -184px;
    background-repeat: no-repeat;
    width: 10px;
    height: 8px;
}
/* 검색버튼 */
.search_wrap .search .search_menu .search_icon .btn_search::before{
    background-image: url('images/sp_main.b27083b1.png'); 
    background-size: 463px 440px; 
    background-position: -406px -78px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block; 
    content: '';
} 

/* 숏컷 */
#header .header_inner .shortcut_area {
    position: relative;
    width: 650px;
    margin: 10px auto 0 auto;
    padding-bottom: 32px;
    height: 64px;
}
/* 숏컷아이템 동일한 간격으로 정렬 */
.shortcut_area .shortcut_list {
    display: flex; 
    justify-content: space-between;
    margin-right: 46px; 
    padding: 0; 
}
/* 숏컷아이템 */
.shortcut_area .shortcut_list .shortcut_item {
    display: inline-block;
    position: relative;
    justify-content: flex-start; /* 가로 정렬 */
    text-align: center;
    font-size: 13px;
}
/* 숏컷 아이템 이름 */
.shortcut_area .shortcut_list .shortcut_item .shortcut_item_name {
    position: absolute;
    width: 50px;
    top : 50px;
    margin-left: -3px;
}

/* 숏컷 기본배경이미지 */
.shortcut_area .shortcut_list .shortcut_item .shortcut_item_icon::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -3px;
    background-image: url('images/sp_main.b27083b1.png');
    background-size: 463px 440px;
    background-position: -153px -142px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.shortcut_area .shortcut_list .shortcut_item .shortcut_item_icon::after {
    content: "";
    display: block;
    position: absolute;
    top: 22px;
    left: 2px;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

/* 메일 아이콘 */
.shortcut_area .shortcut_list .shortcut_item .type_mail::after {
    background-image: url('images/sp_main.b27083b1.png');
    background-size: 463px 440px;
    background-position: -205px -219px; /* 메일 아이콘 위치 */
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

/* 카페 아이콘 */
.shortcut_area .shortcut_list .shortcut_item .type_cafe::after {
    background-image: url('images/sp_main.b27083b1.png');
    background-size: 463px 440px;
    background-position: -41px -219px; /* 카페 아이콘 위치 */
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
/* 블로그 아이콘 */
.shortcut_area .shortcut_list .shortcut_item .type_blog::after {
    background-image: url('images/sp_main.b27083b1.png');
    background-size: 463px 440px;
    background-position: 0px -219px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
/* 스토어 아이콘 */
.shortcut_area .shortcut_list .shortcut_item .type_store::after {
    background-image: url('images/sp_main.b27083b1.png');
    background-size: 463px 440px;
    background-position: -41px -260px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
/* 뉴스 아이콘 */
.shortcut_area .shortcut_list .shortcut_item .type_news::after {
    background-image: url('images/sp_main.b27083b1.png');
    background-size: 463px 440px;
    background-position: -270px -205px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
/* 증권 아이콘 */
.shortcut_area .shortcut_list .shortcut_item .type_stock::after {
    background-image: url('images/sp_main.b27083b1.png');
    background-size: 463px 440px;
    background-position: -123px -260px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
/* 부동산 아이콘 */
.shortcut_area .shortcut_list .shortcut_item .type_realty::after {
    background-image: url('images/sp_main.b27083b1.png');
    background-size: 463px 440px;
    background-position: 0px -260px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
/* 지도 아이콘 */
.shortcut_area .shortcut_list .shortcut_item .type_map::after {
    background-image: url('images/sp_main.b27083b1.png');
    background-size: 463px 440px;
    background-position: -270px 0px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
/* 웹툰 아이콘 */
.shortcut_area .shortcut_list .shortcut_item .type_webtoon::after {
    background-image: url('images/sp_main.b27083b1.png');
    background-size: 463px 440px;
    background-position: -164px -260px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
/* 치지직 아이콘 */
.shortcut_area .shortcut_list .shortcut_item .service_img {
    left: 2px;
    top: 3px;
    position: absolute; 
    z-index: 2;
}

/* 더보기 아이콘 */
.shortcut_area .shortcut_list .shortcut_item .type_moreview::after {
    background-image: url('images/sp_main.b27083b1.png');
    background-size: 463px 440px;
    background-position: -270px -164px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}



/* 컨테이너 박스들 테두리 */
#container .container_inner .container_contents {
    border-radius: 8px;
    border: 1.2px solid #bebebe4e;
}

#container .container_inner .container_left {
    display: inline-block;
    width: 830px;
}

#container .container_inner .container_left .left_main_ad {
    height: 130px;
    background-color: #03c75b4b;
}

#container .container_inner .container_left .news {
    margin-top: 16px;
    height: 425.6px;
    background-color: rgba(160, 175, 237, 0.183);
}

#container .container_inner .container_left .container_shopping {
    margin-top: 16px;
    height: 559.6px;
    background-color: rgba(160, 230, 237, 0.183);
}

#container .container_inner .container_left .feed {
    margin-top: 16px;
    height: 1143.3px;
    background-color: rgba(237, 160, 198, 0.183);
}

#container .container_inner .container_left .left_sub_ad {
    margin-top: 16px;
    height: 60px;
    background-color: rgba(160, 230, 237, 0.183);
}




#container .container_inner .container_right {
    width: 420px;
    margin-left: 30px;
    float: right;
    position: sticky; /* 스크롤 시 따라오도록 설정 */
    top: -1308px;        /* 상단에서 멈출 위치 */
}

#container .container_inner .container_right .naver_account {
    height: 163.3px;
    background-color: rgba(125, 107, 133, 0.211);
}

#container .container_inner .container_right .right_main_ad {
    margin-top: 16px;
    height: 244px;
    background-color: #03c75b4b;
}

#container .container_inner .container_right .right_sub_ad {
    margin-top: 16px;
    height: 80px;
    background-color: #5b879532;
}

#container .container_inner .container_right .right_slide_ad {
    margin-top: 16px;
    height: 136px;
    background-color: #955b5d32;
}

#container .container_inner .container_right .weather {
    margin-top: 16px;
    height: 235.6px;
    background-color: #b9cc7539;
}

#container .container_inner .container_right .stock {
    margin-top: 16px;
    height: 235.6px;
    background-color: #75b3cc39;
}

#container .container_inner .container_right .right_sub_ad_2 {
    margin-top: 16px;
    height: 240px;
    background-color: #75cc9f39;
}

#container .container_inner .container_right .widget {
    margin-top: 16px;
    height: 516px;
    background-color: #8675cc39;
}

#container .container_inner .container_right .naver_ad {
    margin-top: 16px;
    height: 80px;
    background-color: #cc9b7539;
}










.footer_inner a:hover {
    border-bottom: 1.5px solid black;
}

/* footer 배너 */
.footer_inner .banner_area {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding-bottom: 30px; 
    border-bottom: 1px solid #ebebeb;
}

.footer_inner .banner_area .footer_banner {
    width: 410px;
    height: 100px;
    background-color: aqua;
}

.footer_inner .notice_area, .aside_area {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}

.footer_inner .notice_area div {
    display: inline-block;
    font-size: 13px;
}

.footer_inner .notice_area .footer_notice_right {
    float: right;
}

.aside_area .footer_aside_left, .aside_area .footer_aside_right {
    font-size: 13px;
    display: inline-block;
}

.aside_area .footer_aside_left span {
    display: inline-block;
    width: 100px;
}
/* a태그 색상 및 크기 */
.aside_area .footer_aside_left a {
    color: rgba(0, 0, 0, 0.705);
}
.footer_inner .aside_area .footer_aside_left a, .footer_inner .corp_area a{
    position: relative; /* 구분자 위치 설정 */
    margin-right: 10px;
}
/* a태그 사이에 구분자 추가 */
.footer_inner .aside_area .footer_aside_left a:not(:last-child)::after, .footer_inner .corp_area a:not(:last-child)::after {
    content: '|';
    color: rgba(177, 177, 177, 0.289);
    margin: 0 8px;
    font-weight: normal;
    display: inline-block;
    position: absolute;
    right: -17px; /* 구분자가 a 태그 외부에 위치하도록 설정 */
    top: 50%;
    transform: translateY(-50%); /* 수평 중앙 맞추기 */
}
.aside_area .footer_aside_left div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.aside_area .footer_aside_right {
    display: inline;
    float: right;
}

.aside_area .footer_aside_right a {
    display: block;
    width: fit-content;
    padding-top: 8px;
    font-size: 13px;
}

.aside_area .footer_aside_right .service, .aside_area .footer_aside_right .service_image, .aside_area .footer_aside_right .service_content{
    display: inline-block;
}

.aside_area .footer_aside_right .service {
    margin-right: 25px;
}

.footer_inner .corp_area {
    margin: 20px auto 0px auto;
    text-align: center;
    font-size: 13px;
}

/* 고객센터에만 구분자 제거 */
.footer_inner .corp_area a.cust_service::after {
    content: none;
}

